.header {
    padding: 15px 30px;
    background-color: var(--blue);
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 999;

    .header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px !important;
        margin: 0 auto;
        position: relative;

        nav {
            ul {
                width: 500px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .spacer {
        margin: 0 5px
    }

    a {
        font-size: 20px;
        font-weight: 600;
        color: var(--yellow);
    }
    
    .cart {
        line-height: 0;
        position: relative;
        svg {
            font-size: 38px;
            padding: 5px;
        }
        p {
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: var(--blue);
            background: var(--offWhite);
            line-height: 20px;
            text-align: center;
            top: -20px;
            right: -5px;
            font-size: 17px;
        }
    }

    .header-hamburger {
        display: none;

        .hamburger-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hamburger-cart-container {
                width: fit-content;
                display: flex;
                justify-content: space-between;

                .hamburger {
                    line-height: 0.5;
                    background-color: transparent;
                    svg {
                        color: var(--yellow);
                        font-size: 42px;
                        padding: 5px;
                        margin: 0;
                    }
                }
            }

            .cart {
                p {
                    top: -5px;
                }
            }
        }
    }

    @media screen and (max-width: 720px) {
        .header-desktop {
            display: none;
        }

        .header-hamburger {
            display: block;
        }
    }
}

.open-aside {
    width: 305px;

    @media screen and (max-width: 720px) {
        width: 100vw !important;
    }
}

.d-block {
    display: block !important;
}