.list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 20px;

    .card {
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 1px solid var(--grey);
        padding: 20px;
        position: relative;

        background-position: center;
        background-size: cover;

        p {
            color: var(--white);
            font-size: 18px;
            position: absolute;
            bottom: 20px;
        }
    }

    .cat1 {
        background-image: url('../../assets/imgs/products/a.jpg');
    }
    .cat2 {
        background-image: url('../../assets/imgs/products/b.jpg');
    }
    .cat3 {
        background-image: url('../../assets/imgs//products/c.jpg');
    }
}

#product-container {
    @media screen and (max-width: 959px) {
        height: fit-content;
        margin: 50px 0;
    }


    .product {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 10px;

        .product-infos {
            max-width: 400px;

            .description{
                margin-top: 10px;
            }

            .price {
                margin: 15px 0;
                font-size: 18px;
            }

            .quantity-container {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                
                .quantity {
                    width: 40px;
                    padding: 12px 10px;
                    border: 1px solid var(--grey);
                    text-align: center;
                    outline: none;
                }
            }

            button {
                font-size: 18px;
                padding: 10px;
            }
        }

        @media screen and (max-width: 959px) {
            .product-infos {
                margin-top: 40px;
                max-width: 545px;
            }
        }

        @media screen and (max-width: 520px) {
            justify-content: flex-start;

            .product-infos {
                max-width: 100%;
            }
        }
    }


    img {
        width: 540px;
        max-width: 100%;
    }
}